<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head.ejs') %>

        <style>
            input {
                display: block;
                width: 35%;
            }
            
            textarea {
                display: block;
                resize: none;
            }
            
            .btn {
                padding: 8px 20px;
            }
            
            #email-content,
            #product-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            #product-content {
                width: 100%;
            }
            
            #dashboard {
                display: flex;
                justify-content: space-between;
            }
            
            #product-dashboard {
                display: block;
            }
            
            .email-section,
            .email-list {
                width: 48%;
            }
            
            @media (max-width: 991px) {
                .email-section,
                .email-list {
                    width: 100%;
                    margin-bottom: 50px;
                }
            }
        </style>

</head>

<body>

    <div class="tm-page-wrap mx-auto">
        <div class="position-relative">
            <div class="position-absolute tm-site-header">
                <div class="container-fluid position-relative">
                    <div class="row">
                        <div class="col-7 col-md-4">

                        </div>
                        <div class="col-5 col-md-8 ml-auto mr-0">
                            <div class="tm-site-nav">

                                <%- include('./partials/nav.ejs') %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="container-fluid">
            <div id="content" class="mx-auto tm-content-container">
                <main>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-page-title mb-4">Admin</h2>
                            <div class="tm-categories-container mb-5">
                                <h3 class="tm-text-black tm-categories-text">WorkBench:</h3>
                                <ul class="nav tm-category-list">
                                    <li class="nav-item tm-category-item"><a href="/createProduct" class="nav-link tm-category-link" id="product">Create a Product</a></li>
                                    <li class="nav-item tm-category-item"><a href="/createBlog" class="nav-link tm-category-link" id="product">Create a Blog</a></li>
                                </ul>
                            </div>

                            <div class="tm-categories-container mb-5" id="dashboard">
                                <div class="email-section">
                                    <h4 class="font-weight-bold">Emails Sent To Us</h4>
                                    <hr>
                                    <ul class="list-group">
                                        <% let count = 0; %>
                                            <% contact.forEach((conto)=>{ %>
                                                <% count++ %>

                                                    <% if (count < 10) { %>
                                                        <li class="list-group-item" id="email-content">
                                                            <p class="mb-0">
                                                                <%= conto.email %>
                                                            </p>
                                                        </li>
                                                        <% } %>
                                                            <% }) %>
                                    </ul>
                                    <a class="btn btn-info mt-3" href="/allEmailsSent">Check All Emails Sent</a>
                                </div>
                                <div class="email-list">
                                    <h4 class="font-weight-bold">Subscription List</h4>
                                    <hr>
                                    <ul class="list-group">
                                        <% let number = 0; %>
                                            <% email.forEach((email)=>{ %>
                                                <% number++ %>

                                                    <li class="list-group-item" id="email-content">
                                                        <p class="mb-0">
                                                            <%= email.email %>
                                                        </p>
                                                    </li>

                                                    <% }) %>
                                    </ul>
                                    <a class="btn btn-info mt-3" href="/subscription">Email Subscribed</a>
                                </div>
                            </div>

                            <div class="tm-categories-container mb-5" id="product-dashboard">
                                <h4 class="font-weight-bold">Top 10 products</h4>
                                <hr>

                                <ul class="list-group">

                                    <% let nr = 0; %>
                                        <% product.forEach((prod)=>{ %>
                                            <% nr++ %>
                                                <% if (nr < 10) { %>
                                                    <li class="list-group-item" id="product-content">
                                                        <img src=<%=prod.image %> alt="" style="width: 50px; height: 50px;">
                                                        <p class="mb-0">
                                                            <%= prod.title %>
                                                        </p>
                                                        <p class="font-weight-bold">
                                                            <%= prod.price %>$
                                                        </p>
                                                    </li>
                                                    <% } %>

                                                        <% }) %>
                                </ul>
                                <a class="btn btn-info mt-3" href="/products">Check Products</a>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>
            <!-- tm-content-container -->
    </div>

    </div>
    <!-- .tm-page-wrap -->

    <script src="js/jquery-3.4.1.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/admin.js"></script>
</body>

</html>