<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head.ejs') %>

        <style>
            .btn {
                padding: 8px 20px;
            }
            
            #text {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                /* number of lines to show */
                -webkit-box-orient: vertical;
            }
        </style>

</head>

<body>
    <% let count = (num-1) * 13 %>
        <% let int = 1 %>
            <% let max = num * 12 %>
                <% if (max > blog.length) { %>
                    <% max = blog.length + 1 %>
                        <% } %>
                            <div class="tm-page-wrap mx-auto">
                                <div class="position-relative">
                                    <div class="potition-absolute tm-site-header">
                                        <div class="container-fluid position-relative">
                                            <div class="row">
                                                <div class="col-7 col-md-4">
                                                </div>
                                                <div class="col-5 col-md-8 ml-auto mr-0">
                                                    <div class="tm-site-nav">

                                                        <%- include('./partials/nav.ejs') %>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tm-welcome-container tm-fixed-header tm-fixed-header-2">
                                        <div class="text-center">
                                            <p class="tm-welcome-text mb-1 text-black font-weight-bold" id="black-text">Get to know our latest blogs</p>
                                        </div>
                                    </div>

                                    <div id="tm-fixed-header-bg"></div>
                                    <!-- Header image -->
                                </div>

                                <!-- Page content -->
                                <div class="container-fluid">
                                    <div id="content" class="mx-auto tm-content-container">
                                        <main>
                                            <div class="row">
                                                <div class="col-12 mb-4">
                                                    <h2 class="tm-page-title mb-4">Blogs</h2>
                                                    <form action="/search" method="POST" class="tm-contact-form mb-2">
                                                        <input type="text" name="searchName" placeholder="Search" class="form-control rounded-0" style="width: 20%; display: inline;">
                                                        <button class="btn btn-white"><i class="fas fa-search"></i></button>
                                                    </form>

                                                </div>
                                            </div>

                                            <div class="row tm-catalog-item-list" id="products">
                                                <% if(blog.length > 0){ %>

                                                    <% blog.forEach((b)=>{ %>
                                                        <% if (int >= count) { %>

                                                            <% if(count !== max){ %>
                                                                <% count++ %>
                                                                    <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item tm-bg-gray">
                                                                        <a href="/blog/<%= b._id%>" style="text-decoration: none;">

                                                                            <div class="position-relative tm-thumbnail-container">
                                                                            </div>
                                                                            <div class="p-4 tm-catalog-item-description">
                                                                                <h3 class="tm-text-black font-weight-bold mb-3 tm-catalog-item-title">
                                                                                    <%=b.title  %>
                                                                                </h3>
                                                                                <p class="tm-catalog-item-text" maxlength="100" id="text">
                                                                                    <%= b.body %>
                                                                                </p>
                                                                            </div>
                                                                        </a>
                                                                    </div>

                                                                    <% } %>

                                                                        <% } %>
                                                                            <% int++  %>
                                                                                <% }) %>

                                                                                    <% } %>
                                            </div>

                                            <div>
                                                <ul class="nav tm-paging-links" id="next-back">
                                                    <% let amount = parseInt(blog.length / 12)%>
                                                        <% (blog.length % 12) > 0 ? amount++ : amount = amount;%>
                                                            <% for( let i = 0; i < amount; i++ ) { %>
                                                                <% if (i === 0) { %>
                                                                    <li class="nav-item active">
                                                                        <a href="/product/<%= i+1 %> " class="nav-link tm-paging-link">
                                                                            <%= i+1 %>
                                                                        </a>
                                                                    </li>
                                                                    <% } else { %>

                                                                        <li class="nav-item ">
                                                                            <a href="/product/<%= i+1 %> " class="nav-link tm-paging-link ">
                                                                                <%= i+1 %>
                                                                            </a>
                                                                        </li>
                                                                        <% } %>
                                                                            <% } %>
                                                </ul>
                                            </div>
                                            <% function change(id){ %>
                                                <% console.log('hi') %>
                                                    <% } %>
                                        </main>
                                    </div>
                                </div>

                                <%- include('./partials/footer.ejs') %>
                            </div>

                            <script src="js/jquery-3.4.1.min.js "></script>
                            <script src="js/bootstrap.min.js "></script>
                            <script src="js/parallax.min.js "></script>
                            <script src="js/products.js "></script>
                            <script src="js/main.js "></script>
</body>

</html>