<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head.ejs') %>

        <style>
            #card {
                margin: 10px auto;
            }
        </style>

</head>

<body>

    <div class="tm-page-wrap mx-auto">
        <div class="position-relative">
            <div class="position-absolute tm-site-header">
                <div class="container-fluid position-relative">
                    <div class="row">
                        <div class="col-7 col-md-4">

                        </div>
                        <div class="col-5 col-md-8 ml-auto mr-0">
                            <div class="tm-site-nav">

                                <%- include('./partials/nav.ejs') %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tm-welcome-container text-center text-white">
                <div class="tm-welcome-container-inner">
                    <p class="tm-welcome-text mb-1 text-black font-weight-bold" id="black-text"> A smile is more precious than anything in the world.</p>
                    <p class="tm-welcome-text mb-5 text-black font-weight-bold" id="anth-black-text">Make sure to smile with us, it is what we want, you to smile!</p>
                    <a href="/product" class="btn tm-btn-animate tm-btn-cta tm-icon-down">
                        <span>Products</span>
                    </a>
                </div>
            </div>

            <div id="tm-video-container">
                <video autoplay muted loop id="tm-video">
                    <!-- <source src="video/sunset-timelapse-video.mp4" type="video/mp4"> -->
                        <source src="video/mosque.mp4" type="video/mp4">
                </video>
            </div>

            <i id="tm-video-control-button" class="fas fa-pause"></i>
        </div>

        <div class="container-fluid">
            <div id="content" class="mx-auto tm-content-container">
                <main>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-page-title font-weight-bold mb-4">Recommended Products</h2>

                        </div>
                    </div>

                    <div class="row tm-catalog-item-list " id="home-catalog">
                        <% if(products.length > 0){ %>
                            <% let count = 0 %>
                                <% products.forEach((prod)=>{ %>
                                    <% if(count !== 3){ %>
                                        <% count++ %>
                                            <div id="card" class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item pl-0 pr-0" onclick="affiliateLink('<%= prod.url%>')">
                                                <div class="position-relative tm-thumbnail-container">
                                                    <img src=<%=prod.image %> alt="Image" class="img-fluid tm-catalog-item-img" style="max-height: 400px; ">
                                                    <a href=<%=prod.url %>  class="position-absolute tm-img-overlay">
                                                        <i class="fas fa-play tm-overlay-icon"></i>
                                                    </a>
                                                </div>
                                                <div class="p-4 tm-bg-gray tm-catalog-item-description">
                                                    <h3 class="tm-text-black font-weight-bold mb-3 tm-catalog-item-title">
                                                        <%=prod.title  %>
                                                    </h3>
                                                    <p class="tm-catalog-item-text">
                                                        <%= prod.description %>
                                                    </p>
                                                    <p class="font-weight-bold">
                                                        <%=prod.price %> USD</p>
                                                </div>
                                            </div>

                                            <% } %>
                                                <% }) %>

                                                    <% } else { %>
                                                        <h2>No Products were found!!</h2>
                                                        <% } %>


                    </div>
                </main>



                <%- include('./partials/footer.ejs') %>
                    <!-- tm-content-container -->
            </div>

        </div>
        <!-- .tm-page-wrap -->

        <script src="js/jquery-3.4.1.min.js "></script>
        <script src="js/bootstrap.min.js "></script>
        <script src="js/main.js"></script>
</body>

</html>